<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <div class="welcome">
        <h1>Start Chatting Now</h1>
        <form action="/chat" method="post">
            
            <div class="form-elements">
                <label for="username">Enter Your Name</label>
                <input type="text" name="username" id="username" maxlength="20"><br>
            </div>
            <input type="submit" value="Start Chatting" id="startbtn">

        </form>
    </div>
    <script src="../node_modules/socket.io/client-dist/socket.io.js"></script>
    <script src="../public/script/register.js"></script>
</body>
</html>